.room-code {
     height: 40px;
     border-radius: 8px;
     overflow: hidden;

     background:  #fff;
     border: 1px solid #000;
     cursor: pointer;

     display: flex;

     div {
          background: #2FD343;
          padding: 0 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
     }

     span {
          display: block;
          align-self: center;
          //flex: 1;
          padding: 0 10px 0 5px;
          //width: 230px;
          font-size: 14px;
          font-weight: 500;
     }
}